# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines
#  based on your GitHub account credentials
name = Herman Tolentino
email = herman.tolentino@gmail.com
